#loadscreen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.1s ease-in;
    -moz-transition: visibility 0s, opacity 0.1s ease-in;
    transition: visibility 0s, opacity 0.1s ease-in;
}

#loadscreen.show {
    visibility: visible;
    opacity: 1;
}

#loadscreen > .loadpopup {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 10px 20px 13px 20px;
    background: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.75);
}

#loadscreen > .loadpopup > #loadtitle {
    font-weight: bold;
}

#loadscreen > .loadpopup > p {
    margin-bottom: 0;
}

#loadscreen > .loadpopup > .loadspinner {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto 15px auto 0;
    float: left;
}

#loadscreen.done > .loadpopup > .loadspinner {
    display: none;
}

#loadscreen > .loadpopup > .loaddone {
    display: none;
    width: 60px;
    height: 60px;
    margin: auto 15px auto 0;
    float: left;
    font-size: 60px;
    color: #28b62c;
}

#loadscreen.done > .loadpopup > .loaddone {
    display: block;
}